body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
th {
  border-bottom: black 2px solid;
  padding-bottom: 3px;
}
td {
  border-bottom: grey 1px dotted;
   padding-top: 10px !important;
   padding-bottom: 10px !important;
}
td input {
  padding: 10px;

}
